files/common/.cache/
files/common/.config/chromium/
files/common/.config/FreeTube/*
!files/common/.config/FreeTube/history.db
!files/common/.config/FreeTube/playlists.db
!files/common/.config/FreeTube/profiles.db
!files/common/.config/FreeTube/settings.db
files/common/.config/GIMP/
files/common/.config/kitty/themes/
files/common/.config/Logseq/
files/common/.config/obs-studio/
files/common/.config/quodlibet/*
files/common/.config/qutebrowser/bookmarks/
files/common/.config/qutebrowser/quickmarks
files/common/.config/rpcs3/
files/common/.config/Signal/
files/common/.config/vesktop/
files/common/.local/
files/common/FreeTube/
files/common/home/
private/
